<h1>検索結果</h1>
<h2>検索ワード "<%= @value %>"　検索エリア<%= @model %> 検索方法 <%= @how %> </h2>

<% if @model == "user" %>   <!--userを検索した場合-->
 <table class="table table-striped table-hover ">
     <thead>
         <tr>
             <th>image</th>
             <th>name</th>
             <th>introduction</th>
             <th>show</th>
         </tr>
     </thead>
     <tbody>
         <% @datas.each do |user|%>
             <tr>
                 <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %></td>
                 <td><%= user.name%></td>
                 <td><%= user.introduction%></td>
                 <td><%= link_to "Show", user_path(user)%></td>
             </tr>
         <% end %>
     </tbody>
 </table>
<% elsif @model == "book" %>  <!--bookを検索した場合-->
 <table class="table table-striped table-hover ">
     <thead>
         <tr>
             <th>image</th>
             <th>title</th>
             <th>opinion</th>
             <th>show</th>
         </tr>
     </thead>
     <tbody>
         <% @datas.each do |book|%>
             <tr>
                 <td><%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %></td>
                 <td><%= book.title%></td>
                 <td><%= book.body%></td>
                 <td><%= link_to "Show", book_path(book)%></td>
             </tr>
         <% end %>
     </tbody>
 </table>
<% end %>

